.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading {
    border-top: 1px solid #e9ecef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 15px;
    cursor: pointer;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading.active,
.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading:hover {
    background-color: #f8f9fa
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading.active .nspanel-heading-left .nscourse-lesson-icon i,
.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading:hover .nspanel-heading-left .nscourse-lesson-icon i {
    color: #ec406a
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .title {
  margin-bottom: 0px;
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .nscourse-lesson-icon {
    line-height: 1;
    margin-left: 15px
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .nscourse-lesson-icon i {
    color: #d4d9dd;
    font-size: 20px;
    -webkit-transition: color .2s ease-out;
    transition: color .2s ease-out
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .title h4 {
    font-size: 16px;
    margin: 0 0 8px
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .title>p {
    font-size: 14px;
    color: #adb5bd;
    font-weight: 400;
    margin: 0;
    line-height: 1;
	width:100%;
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .badge-item {
    background-color: #e9ecef;
    padding: 2px 6px;
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
    margin-left: 6px;
    line-height: 1.2;
    text-transform: capitalize;
    order: -9999;
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .badge-item.video {
    background-color: #65bded;
    color: #fff
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .badge-item.quiz {
    background-color: #bd83ef;
    color: #fff
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .badge-item.lecture {
    background-color: #68e8b7;
    color: #fff
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .badge-item.exam {
    background-color: #e89369;
    color: #fff
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .badge-item.practice {
    background-color: #eada68;
    color: #fff
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .badge-item.attachments {
    background-color: #4ece3d;
    color: #fff
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .badge-item.sound {
    background-color: #a76388;
    color: #fff
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .badge-item.free {
    background-color: #8be669;
    color: #fff
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .panel-heading-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .private-lesson {
    margin-left: 6px;
    padding-right: 0
}

.private-lesson .fa.green-lock {
    color: #48af3b
}

@media (max-width:767.98px) {
    .nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .private-lesson i {
        margin-right: 0!important
    }
    .nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .private-lesson span {
        display: none
    }
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .preview-button {
    background-color: #ff6060;
    color: #fff;
    border-radius: 30px
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .download-button {
    background-color: #4ece3d;
    margin-right: 8px;
    color: #fff;
    height: 34px;
    border-radius: 30px
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .download-button.gray {
    background-color: #bac2c5;
    margin-right: 8px;
    color: #fff;
    border-radius: 30px
}

@media (max-width:767.98px) {
    .nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .preview-button {
        display: none
    }
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .preview-button.for-mobile {
    display: none
}

@media (max-width:767.98px) {
    .nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .preview-button.for-mobile {
        display: block
    }
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .preview-button.for-mobile i {
    margin-left: 0
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .download-button,
.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .preview-button,
.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .private-lesson {
    font-size: 14px;
    line-height: 1.5;
    padding: 7px 10px
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .preview-button i,
.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .private-lesson i {
    margin-left: 5px
}

.nselementory-section .nscourse-section .nspanel-group .nspanel-content {
    overflow: hidden;
    background-color: #f8f9fa;
}

.nselementory-section .nscourse-section .nspanel-group .nspanel-content .nsnspanel-content-inner {
    padding: 15px 15px 20px 15px;
    background: #fff;
    font-size: 13px;
    text-align: justify;
    border: 1px solid #e9ecef
}


.course-wrapper-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.course-main-wrapper.shop-sidebar-left .course-wrapper-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.course-wrapper-inner .courses-holder {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:992px) {
    .course-main-wrapper.has-sidebar .course-wrapper-inner .courses-holder {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
}

.courses-holder .courses-top-bar {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 1.875rem;
    padding: 1rem 1.25rem
}

.courses-holder .term-description {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 1.875rem;
    padding: 1rem 1.25rem
}

.courses-holder .courses-top-bar .courses-top-bar-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.courses-holder .courses-top-bar .courses-top-bar-inner .courses-top-bar-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.courses-holder .courses-top-bar .courses-top-bar-inner .courses-top-bar-left .woocommerce-result-count {
    margin-bottom: 0
}

.courses-holder .courses-top-bar .layout-switcher {
    margin-right: 1rem
}

@media (max-width:767.98px) {
    .courses-holder .courses-top-bar .layout-switcher {
        display: none
    }
}

.courses-holder .courses-top-bar .layout-switcher>a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: .5rem .625rem;
    margin-right: .3125rem
}

.courses-holder .courses-top-bar .layout-switcher>a.active {
    background-color: #1e83f0;
    border-color: #1e83f0
}

.courses-holder .courses-top-bar .layout-switcher>a.active svg {
    fill: #fff
}

.courses-holder .courses-top-bar .layout-switcher>a svg {
    fill: #495057;
    width: 20px;
    height: 20px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}


.nselementory-section .nscourse-section-title-elementory {
    margin: 0;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.nselementory-section .nscourse-section-title-elementory.cursor-pointer {
    cursor: pointer
}

.nselementory-section .nscourse-section-title-elementory .far {
    padding: 4px 0 4px 10px;
    color: #7b868a
}

.nselementory-section .nscourse-section-title-elementory .fas {
	    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 12px;
}
    font-size: 25px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #bdbdbd;
}

.nselementory-section .nscourse-section-title-elementory img {
  margin-left: 15px;
  display: inline-block;
}

.nselementory-section .nscourse-section-title-elementory .nsgheadlinel {
    display: inline-block;
    margin-right: 7px;
    color: #111;
}
.nselementory-section .nscourse-section-title-elementory .nsgheadlinel span {
  font-size:18px;
  font-weight: 600;
}
.nselementory-section .nscourse-section-title-elementory .nsgheadlinel p {
  margin-bottom: 0;
}

.nselementory-section .nscourse-section.active .nscourse-section-title-elementory .fas {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
	
}
.nselementory-section .nscourse-section {
	background: #fff;
    border: 1px solid #e9ecef;
	border-radius: 10px;
}

@media (max-width: 991.98px) {
  .nselementory-section .nscourse-section-title-elementory .nsgheadlinel span {
    font-size: 14px;
    font-weight: 600;
}
.nselementory-section .nscourse-section-title-elementory .nsgheadlinel {
    float: none;
    width: 100%;
    padding-left: 11px;
}
.nselementory-section .nscourse-section-title-elementory .nsgheadlinel p {
    font-size: 11px;
}
.nselementory-section .nscourse-section-title-elementory img {
    margin-left: 5px;
}
.nselementory-section .nscourse-section {
    background: #f7f7f7;
    padding: 10px 10px;
    border: 1px solid #e9ecef;
    border-radius: 3px;
    padding-left: 21px;
}

}

.nspanel-group.deactive {
    display: none;
}

@media (max-width:767.98px) {
.nselementory-section .nscourse-section-title-elementory .fa {
    left: 14px;
    top:30px;
    font-size: 18px;
  }
.nselementory-section .nscourse-section-title-elementory {
    padding: 2px 2px;
}
.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .title h4 {
    font-size: 13px;
}
.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .title>p {
    display: none;
}
.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading {
    padding: 15px;
}
.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .badge-item {
    font-size: 11px;
    font-weight: 400;
}
.nselementory-section .nscourse-section-title-elementory .nsgheadlinel {
    padding-left: 11px;
    line-height: 20px;
}
}

/*panel content nias*/

.nspanel-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.nspanel-content.active {
  max-height: 1000px; /* Set a default max-height value */
}
.nscourse-section-title-elementory.cursor-pointer img, .nscourse-section-title-elementory img {
    max-height: 58px;
        max-width: 58px !important;
    margin-left: 15px;
    display: inline-block;
        height: auto!important;
}

.nselementory-section .nscourse-section .nspanel-group .nscourse-panel-heading .nspanel-heading-left .title {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
