
[dir=rtl] .carbon-network #post-body.columns-2 #postbox-container-1.fixed, [dir=rtl] .carbon-theme-options #post-body.columns-2 #postbox-container-1.fixed {
  right: auto!important;
  left: 0!important;
  margin: 0 0 0 20px!important;
}

.nias-toggle-switch .cf-radio__list {
          display: flex;
          background: #e4e4e4;
          padding: 3px;
          border-radius: 50px;
          width: fit-content;
      }
      
      .nias-toggle-switch .cf-radio__list-item {
          margin: 0 !important;
      }
      
      .nias-toggle-switch .cf-radio__label {
          display: inline-block;
          padding: 5px 15px;
          border-radius: 50px;
          cursor: pointer;
          transition: all 0.3s ease;
      }
      
      .nias-toggle-switch .cf-radio__input:checked + .cf-radio__label {
          background: #2271b1;
          color: white;
      }
      
      .nias-toggle-switch .cf-radio__input {
          display: none;
      }
      .nias-course-migrate {
          background-color: #ffe5e5;
          padding: 20px;
          border-radius: 15px;
          border: 1px solid red;
      }

      .nias-course-migrate .button {
          background: red !important;
          border: none;
          border-radius: 10px;
      }

      body *:not(#wpadminbar *, i , [role=treeitem] span[aria-hidden] , .dashicons) {
          font-family: 'Vazirmatn' !important;
      }

      .h_iframe-aparat_embed_frame {
          position: relative;
      }

      .h_iframe-aparat_embed_frame .ratio {
          display: block;
          width: 100%;
          height: auto;
      }

      .h_iframe-aparat_embed_frame iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }
      .nias-course-product-option ul.cf-complex__tabs-list.ui-sortable li {
        border-radius:8px;
        background-color:#e2e9ff;
        color:#5573ff;
        transition:0.3s;
        padding: 12px;
        
    }
    .nias-course-product-option ul.cf-complex__tabs-list.ui-sortable .cf-complex__tabs-item--current {
        border-radius:8px;
        background-color:#5573ff;
        color:#ffffff;
        border:1px solid!important;
        
    }
    .nias-course-product-option .cf-complex__tabs--tabbed-vertical ul.cf-complex__tabs-list.ui-sortable{
        display:flex;
        flex-direction:column;
        gap:5px;
    }
    
    .nias-course-product-option .cf-complex--tabbed-vertical>.cf-field__body{
        gap:5px
    }
    
    .nias-course-product-option .cf-complex--tabbed-vertical button.button.cf-complex__inserter-button:not(.cf-complex__tabs--tabbed-horizontal button) {
        margin-top:10px;
        color:#5573ff!important;
        border:none;
        background-color:#f1f1f1;
        border-radius:8px;
    }
    .cf-complex__tabs--tabbed-horizontal button{
        color:#5573ff!important;
        border:none!important;
        background-color:#f1f1f1!important;
        border-radius:8px!important; 
        margin-right: 10px!important;
    }
    
    .nias-course-product-option .cf-text__input{
        border:1px solid #dcdcdc!important;
        border-radius:8px!important;
        padding: 8px 10px!important;
    }
    
    .nias-course-product-option h1, .nias-course-product-option h2, .nias-course-product-option h3, .nias-course-product-option h4, .nias-course-product-option h5, .nias-course-product-option h6 {
        font-family: vazirmatn!important;
        font-weight: 600;
    }
    .nias-course-product-option {
        font-family: vazirmatn!important;
    }
    
.toplevel_page_nias-course-settings .toplevel_page_nias-course-settings img{
    width: 22px;
    height: 22px;
}
.toplevel_page_nias-course-settings #submit {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
    background-size: 250%;
    background-position: left;
    color: #151515;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
  }
  
  .toplevel_page_nias-course-settings #submit::before {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842)!important;
    background-size: 200%;
  }
  
  .toplevel_page_nias-course-settings #submit:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .toplevel_page_nias-course-settings #submit:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .toplevel_page_nias-course-settings #submit:active {
    transform: scale(0.95);
  }

body.toplevel_page_nias-course-settings{
body *:not(#wpadminbar *,i){
  font-family: 'Vazirmatn'!important;
}
}
